<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row m-b-0">
            <div class="col-md-7">
                <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a> - {{repo.language}}
            </div>
            <div class="col-md-5">
                <div class="right">
                  <span class="badge badge-primary"><i class="far fa-eye"></i> {{repo.watchers}}</span>&nbsp;
                  <span class="badge badge-success"><i class="fas fa-star"></i> {{repo.stargazers_count}}</span>&nbsp;
                  <span class="badge badge-secondary"><i class="fas fa-code-branch"></i> {{repo.forks}}</span>
                </div>
            </div>
          </div>
          
          
        </div>
        <div class="card-body">{{repo.description}}</div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="row m-b-0">
            <div class="col-md-6">
                Issues Browser
            </div>
            <div class="col-md-6">
                <div class="filter right">
                    Filter by:&nbsp;&nbsp;<input name="options" type="radio" [(ngModel)]="searchText" value="open" (change)="filterIssues()">&nbsp;Open
                    &nbsp;&nbsp;<input name="options" type="radio" [(ngModel)]="searchText" value="closed" (change)="filterIssues()">&nbsp;Closed
                    &nbsp;&nbsp;<input name="options" type="radio" [(ngModel)]="searchText" value="" [checked]="true" (change)="filterIssues()">&nbsp;All
                </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div *ngFor="let issue of issues | filter : searchText " class="row">
              <div class="col-sm-10">
                <a href="{{issue.html_url}}" target="_blank">{{issue.title}}</a>
              </div>
              <div class="col-sm-2">
                  <div class="right">
                      <span [ngClass]="issue.state == 'open' ? 'badge badge-success' : 'badge badge-danger'" class="w-100">                  
                          {{issue.state | uppercase}}
                      </span>
                  </div>
              </div>
            </div>
        </div>
      </div>
      
    </div>
  </div>
</div>