<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header"><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a> - {{repo.language}}
            <div class="right inline"><span class="badge badge-primary"><i class="far fa-eye"></i> {{repo.watchers}}</span>&nbsp;<span class="badge badge-success"><i class="fas fa-star"></i> {{repo.stargazers_count}}</span>&nbsp;<span class="badge badge-secondary"><i class="fas fa-code-branch"></i> {{repo.forks}}</span></div>
        </div>
        <div class="card-body">{{repo.description}}</div>
      </div>
      <div class="card">
        <div class="card-header">Issues Browser
          <div class="filter right">
            Filter by:&nbsp;&nbsp;<input name="options" type="radio" [(ngModel)]="searchText" value="open" (change)="filterIssues()">&nbsp;Open
            &nbsp;&nbsp;<input name="options" type="radio" [(ngModel)]="searchText" value="closed" (change)="filterIssues()">&nbsp;Closed
            &nbsp;&nbsp;<input name="options" type="radio" [(ngModel)]="searchText" value="" [checked]="true" (change)="filterIssues()">&nbsp;All</div>
          <!-- <input type="text" [(ngModel)]="searchText" (change)="filterIssues()"> -->
        </div>
        <div class="card-body">
            <div *ngFor="let issue of issues | filter : searchText " class="row">
              <div class="col-lg-11">
                <a href="{{issue.html_url}}" target="_blank">{{issue.title}}</a>
              </div>
              <div class="col-lg-1">
                  <span [ngClass]="issue.state == 'open' ? 'badge badge-success' : 'badge badge-danger'" class="w-100">                  
                      {{issue.state | uppercase}}
                  </span>
              </div>
            </div>
        </div>
      </div>
      
    </div>
  </div>
</div>