.search-box {
  margin-top: 20px;
}
.row {
  margin-bottom: 20px;
}
.right {
  float: right;
}
.inline {
  display: inline;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-0 {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .right {
    float: left;
  }
}