<div class="container search-box">
    <div class="row">
      <div class="col-lg-12">
        <form class="" (submit)="onSubmit(input.value)">
          <label>Search GitHub Repos</label>
          <div class="row">
            <div class="col-lg-10">
              <input #input type="text" placeholder="Search repos..." class="form-control m-b-10">
            </div>
            <div class="col-lg-2">
              <button type="submit" #searchBtn class="btn btn-success w-100"><i class="fas fa-search"></i> Search</button>
            </div>
          </div>
        </form>
      </div>
      </div>
</div>
<div class="search-results container">
  <div *ngFor="let repo of repos" class="row">
    <div class="col-xs-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row m-b-0">
            <div class="col-md-7"><a routerLink="/repo/{{repo.owner.login}}/{{repo.name}}" routerLinkActive="active">{{ repo.full_name }}</a> - {{repo.language}}</div>
            <div class="col-md-5">
              <div class="right">
                <span class="badge badge-primary"><i class="far fa-eye"></i> {{repo.watchers}}</span>&nbsp;
                <span class="badge badge-success"><i class="fas fa-star"></i> {{repo.stargazers_count}}</span>&nbsp;
                <span class="badge badge-secondary"><i class="fas fa-code-branch"></i> {{repo.forks}}</span>
              </div>
            </div>
          </div>
        </div><!-- End Header-->
        <div class="card-body">{{ repo.description }}</div>      
      </div>
    </div>
  </div>
</div>